<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.goodreads</string>
	<key>connections</key>
	<dict>
		<key>0C0BAA57-2183-47B7-ADF7-B2BFF95C0B00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED185B22-78AD-41AB-BD90-74B2C99A4FED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>228F2D59-495A-43A0-BBCE-BACE4B26F939</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>274ABB63-5B3B-42DD-8CC4-CF5C8B855B29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D850B6A-2748-4C61-A97C-C011DD03E68A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58F050EC-1328-4D0B-8A7B-9D774BD6612F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>634447CE-A818-4379-B1A7-5E1CDF821B0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58F050EC-1328-4D0B-8A7B-9D774BD6612F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B3CB906-52D2-4266-8E5F-2F3C1155A05C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C0BAA57-2183-47B7-ADF7-B2BFF95C0B00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6DE91843-FFC9-45D9-BA43-E4FBCADED50C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7825A897-CDD4-44FF-A140-77E993E1CEF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>88C6440B-CB89-4474-BC79-6CBB15C2AAEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E42119B6-6502-4D2F-B64D-C3EE1F529BAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D850B6A-2748-4C61-A97C-C011DD03E68A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A80B8788-C292-4E26-B51C-F06F12480B4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>228F2D59-495A-43A0-BBCE-BACE4B26F939</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC9630DC-D44B-4E8F-992B-1BE2E871095F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9F86D5D-BB7F-4000-930F-54F2625D65AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE9FE23F-D226-40A5-9AB6-253B3093C33B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6885D6AA-3C22-4DAE-8AF1-D507F675F9E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB8D250F-298F-4612-A741-6D4C74C95989</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7825A897-CDD4-44FF-A140-77E993E1CEF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E42119B6-6502-4D2F-B64D-C3EE1F529BAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C0BAA57-2183-47B7-ADF7-B2BFF95C0B00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E7B2633C-22E5-468B-BDB2-8E74E25AABEC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A80B8788-C292-4E26-B51C-F06F12480B4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C6672640-BDB1-4B41-AFB5-E3F39A9CB917</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE9FE23F-D226-40A5-9AB6-253B3093C33B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>634447CE-A818-4379-B1A7-5E1CDF821B0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E199994D-4BCE-493C-9E18-39852BD58A7D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>274ABB63-5B3B-42DD-8CC4-CF5C8B855B29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E145D03E-0464-4B52-A8F5-E143B91B80C3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB8D250F-298F-4612-A741-6D4C74C95989</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5860E1B1-9C07-447B-B6C4-2A6513D40E70</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED185B22-78AD-41AB-BD90-74B2C99A4FED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Search for books on Goodreads.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Goodreads Book Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>run</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>C9F86D5D-BB7F-4000-930F-54F2625D65AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching search results…</string>
				<key>script</key>
				<string>./goodreads "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./imdb</string>
				<key>subtext</key>
				<string>Search Goodreads.com</string>
				<key>title</key>
				<string>Book Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6DE91843-FFC9-45D9-BA43-E4FBCADED50C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/--------- RUN IN ---------\
query="{query}"
variables={allvars}
\--------- RUN IN ---------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./goodreads -conf "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./imdb</string>
				<key>subtext</key>
				<string>View &amp; edit workflow configuration</string>
				<key>title</key>
				<string>Book Search Configuration</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ED185B22-78AD-41AB-BD90-74B2C99A4FED</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>grconf</string>
				<key>subtext</key>
				<string>View/edit workflow configuration</string>
				<key>text</key>
				<string>Book Search Configuration</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6B3CB906-52D2-4266-8E5F-2F3C1155A05C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0C0BAA57-2183-47B7-ADF7-B2BFF95C0B00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./goodreads -apikey "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter your API key</string>
				<key>title</key>
				<string>Set Goodreads API Key</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>228F2D59-495A-43A0-BBCE-BACE4B26F939</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:command}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>config</string>
						<key>outputlabel</key>
						<string>Workflow Configuration</string>
						<key>uid</key>
						<string>E7B2633C-22E5-468B-BDB2-8E74E25AABEC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:command}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>apikey</string>
						<key>outputlabel</key>
						<string>Set API Key</string>
						<key>uid</key>
						<string>C6672640-BDB1-4B41-AFB5-E3F39A9CB917</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:command}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>setkey</string>
						<key>outputlabel</key>
						<string>Save API Key</string>
						<key>uid</key>
						<string>E199994D-4BCE-493C-9E18-39852BD58A7D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:command}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>delkey</string>
						<key>outputlabel</key>
						<string>Delete API Key</string>
						<key>uid</key>
						<string>E145D03E-0464-4B52-A8F5-E143B91B80C3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:command}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>author</string>
						<key>outputlabel</key>
						<string>Books by Author</string>
						<key>uid</key>
						<string>5860E1B1-9C07-447B-B6C4-2A6513D40E70</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E42119B6-6502-4D2F-B64D-C3EE1F529BAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A80B8788-C292-4E26-B51C-F06F12480B4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>run</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>88C6440B-CB89-4474-BC79-6CBB15C2AAEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6885D6AA-3C22-4DAE-8AF1-D507F675F9E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>AE9FE23F-D226-40A5-9AB6-253B3093C33B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./goodreads -savekey "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58F050EC-1328-4D0B-8A7B-9D774BD6612F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>634447CE-A818-4379-B1A7-5E1CDF821B0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./goodreads -delkey</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D850B6A-2748-4C61-A97C-C011DD03E68A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>274ABB63-5B3B-42DD-8CC4-CF5C8B855B29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./goodreads -author "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./imdb</string>
				<key>subtext</key>
				<string>View &amp; edit workflow configuration</string>
				<key>title</key>
				<string>Books for Author</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7825A897-CDD4-44FF-A140-77E993E1CEF0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CB8D250F-298F-4612-A741-6D4C74C95989</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Goodreads
=========

Search for books on Goodreads.com.


Configuration
-------------

You **must** set an API key via "grconf" or the workflow won't work.</string>
	<key>uidata</key>
	<dict>
		<key>0C0BAA57-2183-47B7-ADF7-B2BFF95C0B00</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>228F2D59-495A-43A0-BBCE-BACE4B26F939</key>
		<dict>
			<key>note</key>
			<string>Enter API key</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>274ABB63-5B3B-42DD-8CC4-CF5C8B855B29</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>58F050EC-1328-4D0B-8A7B-9D774BD6612F</key>
		<dict>
			<key>note</key>
			<string>Save API key</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>634447CE-A818-4379-B1A7-5E1CDF821B0D</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>6885D6AA-3C22-4DAE-8AF1-D507F675F9E2</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>6B3CB906-52D2-4266-8E5F-2F3C1155A05C</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>6DE91843-FFC9-45D9-BA43-E4FBCADED50C</key>
		<dict>
			<key>note</key>
			<string>Search books</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>7825A897-CDD4-44FF-A140-77E993E1CEF0</key>
		<dict>
			<key>note</key>
			<string>Filter author's books</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>88C6440B-CB89-4474-BC79-6CBB15C2AAEB</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>9D850B6A-2748-4C61-A97C-C011DD03E68A</key>
		<dict>
			<key>note</key>
			<string>Delete API key</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>A80B8788-C292-4E26-B51C-F06F12480B4C</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>AC9630DC-D44B-4E8F-992B-1BE2E871095F</key>
		<dict>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>AE9FE23F-D226-40A5-9AB6-253B3093C33B</key>
		<dict>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>C9F86D5D-BB7F-4000-930F-54F2625D65AC</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>CB8D250F-298F-4612-A741-6D4C74C95989</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>E42119B6-6502-4D2F-B64D-C3EE1F529BAA</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>ED185B22-78AD-41AB-BD90-74B2C99A4FED</key>
		<dict>
			<key>note</key>
			<string>View configuration</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>MAX_CACHE_AGE</key>
		<string>24h</string>
	</dict>
	<key>version</key>
	<string>0.1.3</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
