<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.goodreads</string>
	<key>connections</key>
	<dict>
		<key>22FC81CE-C782-4476-977B-13B04A1710DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>2B5BCC87-D7E1-4BF5-B0F4-7987C38B9453</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>2BDD415D-E018-4F37-B732-19E96BA056BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92B6FFFE-4B20-44C4-A1B3-4935B29D4688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>303CAB58-86FE-497C-995C-11F659969015</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>3604A788-5504-4960-9627-ED7513F68B94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4AA118E-E809-48D2-A98F-BE0A5275702E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4346DFB6-F19C-4116-9D27-B502F3F69813</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7522D831-763A-4669-88CB-BEB00AC459C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>506D6C47-B8AC-4B35-B60E-E3B609ADE435</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B5BCC87-D7E1-4BF5-B0F4-7987C38B9453</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>593ADF69-4CF9-4931-A159-85E655D79E28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4AF385F-0E68-4F1F-B05A-BC01A7A5B95A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68F7AA3B-238F-42B4-BC92-5D7AC15146CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6B3CB906-52D2-4266-8E5F-2F3C1155A05C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6DE91843-FFC9-45D9-BA43-E4FBCADED50C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7522D831-763A-4669-88CB-BEB00AC459C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>76044491-9E35-4199-A2F0-48E10A65811B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>303CAB58-86FE-497C-995C-11F659969015</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90B2397C-63A9-4129-B6CC-576B99BAD266</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B3CB906-52D2-4266-8E5F-2F3C1155A05C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92B6FFFE-4B20-44C4-A1B3-4935B29D4688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>593ADF69-4CF9-4931-A159-85E655D79E28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D8020B2-1848-4854-A880-EDFA9903A04B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22FC81CE-C782-4476-977B-13B04A1710DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2076991-506E-49CF-8800-E2861C3C9565</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73B4D591-ED4A-4093-AA55-395C376380EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6FF1281-70FF-4D5D-8D37-E99CC5F5462C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1EE606E-5092-4B55-9459-8243E70604A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC9630DC-D44B-4E8F-992B-1BE2E871095F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD53DE8E-21C5-4BEE-A7FF-98E99E88152F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD53DE8E-21C5-4BEE-A7FF-98E99E88152F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73B4D591-ED4A-4093-AA55-395C376380EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6FF1281-70FF-4D5D-8D37-E99CC5F5462C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BDD415D-E018-4F37-B732-19E96BA056BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B93665E4-5CE2-43A3-9170-617DC9F3F996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DE91843-FFC9-45D9-BA43-E4FBCADED50C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1F495E2-E1A6-4605-85A6-82DAA48A8340</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68F7AA3B-238F-42B4-BC92-5D7AC15146CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E332279E-97DA-4A7C-813D-B5984BFCE8BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FCA5952-5E6E-4D60-A9AE-6B438A7DBD0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6B171C4-9C10-4A60-8EE0-1B798760AD28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2076991-506E-49CF-8800-E2861C3C9565</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4AA118E-E809-48D2-A98F-BE0A5275702E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Search for books on Goodreads.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Book Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B93665E4-5CE2-43A3-9170-617DC9F3F996</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching search results…</string>
				<key>script</key>
				<string>./alfred-booksearch -search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./imdb</string>
				<key>subtext</key>
				<string>Search Goodreads.com</string>
				<key>title</key>
				<string>Search for Books</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>search</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6DE91843-FFC9-45D9-BA43-E4FBCADED50C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bkshlf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading shelves…</string>
				<key>script</key>
				<string>./alfred-booksearch -shelves "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Browse your Goodreads Shelves</string>
				<key>title</key>
				<string>Goodreads Shelves</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>shelves</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>303CAB58-86FE-497C-995C-11F659969015</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>76044491-9E35-4199-A2F0-48E10A65811B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>beep</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E332279E-97DA-4A7C-813D-B5984BFCE8BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Morse</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>6FCA5952-5E6E-4D60-A9AE-6B438A7DBD0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bkconf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-booksearch -conf "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View &amp; edit workflow configuration</string>
				<key>title</key>
				<string>Book Search Configuration</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>config</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B3CB906-52D2-4266-8E5F-2F3C1155A05C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>90B2397C-63A9-4129-B6CC-576B99BAD266</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification_text}</string>
				<key>title</key>
				<string>{var:notification_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>73B4D591-ED4A-4093-AA55-395C376380EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>notify</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E6B171C4-9C10-4A60-8EE0-1B798760AD28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>notification_title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A2076991-506E-49CF-8800-E2861C3C9565</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>author</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E1F495E2-E1A6-4605-85A6-82DAA48A8340</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-booksearch -author "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./imdb</string>
				<key>subtext</key>
				<string>Shows books by an author</string>
				<key>title</key>
				<string>Books by “{var:AUTHOR_NAME}”</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>68F7AA3B-238F-42B4-BC92-5D7AC15146CD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>hide_alfred</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A6FF1281-70FF-4D5D-8D37-E99CC5F5462C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>C1EE606E-5092-4B55-9459-8243E70604A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>{var:action}</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E4AF385F-0E68-4F1F-B05A-BC01A7A5B95A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-booksearch $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD53DE8E-21C5-4BEE-A7FF-98E99E88152F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/--------- RUN IN ---------\
query="{query}"
variables={allvars}
\--------- RUN IN ---------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>AC9630DC-D44B-4E8F-992B-1BE2E871095F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/--------- RUN OUT ---------\
query="{query}"
variables={allvars}
\--------- RUN OUT ---------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>2BDD415D-E018-4F37-B732-19E96BA056BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{var:query}",
    "config" : {
      "passinputasargument" : true,
      "externaltriggerid" : "{var:action}",
      "workflowbundleid" : "self",
      "passvariables" : "{var:passvars}"
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>593ADF69-4CF9-4931-A159-85E655D79E28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>92B6FFFE-4B20-44C4-A1B3-4935B29D4688</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-booksearch -shelf "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./imdb</string>
				<key>subtext</key>
				<string>Shows books in a list</string>
				<key>title</key>
				<string>Books on Shelf “{var:SHELF_NAME}”</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4AA118E-E809-48D2-A98F-BE0A5275702E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>shelf</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3604A788-5504-4960-9627-ED7513F68B94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading scripts…</string>
				<key>script</key>
				<string>./alfred-booksearch -scripts "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./imdb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7522D831-763A-4669-88CB-BEB00AC459C7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>scripts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>4346DFB6-F19C-4116-9D27-B502F3F69813</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading shelves…</string>
				<key>script</key>
				<string>./alfred-booksearch -selection "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./imdb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B5BCC87-D7E1-4BF5-B0F4-7987C38B9453</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>select</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>506D6C47-B8AC-4B35-B60E-E3B609ADE435</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading books…</string>
				<key>script</key>
				<string>./alfred-booksearch -series "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./imdb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22FC81CE-C782-4476-977B-13B04A1710DA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>series</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9D8020B2-1848-4854-A880-EDFA9903A04B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Goodreads
=========

Search for books on Goodreads.com.


Configuration
-------------

You **must** set an API key via "grconf" or the workflow won't work.</string>
	<key>uidata</key>
	<dict>
		<key>22FC81CE-C782-4476-977B-13B04A1710DA</key>
		<dict>
			<key>note</key>
			<string>View books in a series</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>1210</integer>
		</dict>
		<key>2B5BCC87-D7E1-4BF5-B0F4-7987C38B9453</key>
		<dict>
			<key>note</key>
			<string>Select shelves</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>2BDD415D-E018-4F37-B732-19E96BA056BE</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>303CAB58-86FE-497C-995C-11F659969015</key>
		<dict>
			<key>note</key>
			<string>View your shelves</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>3604A788-5504-4960-9627-ED7513F68B94</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>4346DFB6-F19C-4116-9D27-B502F3F69813</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>506D6C47-B8AC-4B35-B60E-E3B609ADE435</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>593ADF69-4CF9-4931-A159-85E655D79E28</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>68F7AA3B-238F-42B4-BC92-5D7AC15146CD</key>
		<dict>
			<key>note</key>
			<string>Filter author's books</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>6B3CB906-52D2-4266-8E5F-2F3C1155A05C</key>
		<dict>
			<key>note</key>
			<string>Workflow configuration</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>6DE91843-FFC9-45D9-BA43-E4FBCADED50C</key>
		<dict>
			<key>note</key>
			<string>Search books</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6FCA5952-5E6E-4D60-A9AE-6B438A7DBD0F</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>73B4D591-ED4A-4093-AA55-395C376380EB</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>7522D831-763A-4669-88CB-BEB00AC459C7</key>
		<dict>
			<key>note</key>
			<string>Show available scripts</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>76044491-9E35-4199-A2F0-48E10A65811B</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>90B2397C-63A9-4129-B6CC-576B99BAD266</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>92B6FFFE-4B20-44C4-A1B3-4935B29D4688</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>9D8020B2-1848-4854-A880-EDFA9903A04B</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1210</integer>
		</dict>
		<key>A2076991-506E-49CF-8800-E2861C3C9565</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>A6FF1281-70FF-4D5D-8D37-E99CC5F5462C</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>AC9630DC-D44B-4E8F-992B-1BE2E871095F</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>AD53DE8E-21C5-4BEE-A7FF-98E99E88152F</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>B93665E4-5CE2-43A3-9170-617DC9F3F996</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>C1EE606E-5092-4B55-9459-8243E70604A7</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>E1F495E2-E1A6-4605-85A6-82DAA48A8340</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>E332279E-97DA-4A7C-813D-B5984BFCE8BD</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>E4AF385F-0E68-4F1F-B05A-BC01A7A5B95A</key>
		<dict>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>E6B171C4-9C10-4A60-8EE0-1B798760AD28</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>F4AA118E-E809-48D2-A98F-BE0A5275702E</key>
		<dict>
			<key>note</key>
			<string>Show books on shelf</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ACTION_ALT</key>
		<string>View Series</string>
		<key>ACTION_DEFAULT</key>
		<string>Open Book Page</string>
		<key>EXPORT_DETAILS</key>
		<string>false</string>
		<key>USER_ID</key>
		<string></string>
		<key>USER_NAME</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>USER_ID</string>
		<string>USER_NAME</string>
	</array>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
